/*Reset css*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: url('/public/image/fondo.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/*Pantalla de carga*/
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.App.loading-screen {
    visibility: hidden;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    animation: fadeOut 0.5s ease-in-out 5.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
    }
}

.background-video{
    width: 350px;
}

/*Estilos principales*/
input {
    padding: 10px;
    font-size: 16px;
}

.input-twister {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    transition: background-position 0.3s ease-in-out;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #ffffff00 50%, #fff 50%);
}

button:hover {
    background-position: -100% 0;
}

.btn-seleccionar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn-borrar-todo {
    display: flex;
    align-items: center;
}

.btn-seleccionar img {
    width: 23px;
}

.btn-seleccionar:hover img {
    transform: translateY(-5px);
}

.btn-borrar-todo img {
    width: 40px;
}

.btn-borrar-todo:hover img {
    transform: rotate(20deg);
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.idea-container {
    width: 90%;
    max-width: 600px;
    min-height: 400px;
    margin: 2%;
    padding: 1%;
    background-color: rgb(255, 217, 81);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-twister {
    display: none;
}

.ideas-input {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.ideas-items-contenedor {
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    padding: 2%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.idea {
    border-radius: 100px;
    padding: 3%;
    font-size: 1.8em;
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.idea p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 150px;
}

/*Estilos de las ideas*/
.idea:nth-child(6n + 1) {
    background-color: #fff;
    border: 3px solid rgb(255, 249, 129);
}

.idea:nth-child(6n + 2) {
    background-color: #fff;
    border: 3px solid #fd6fea;
}

.idea:nth-child(6n + 3) {
    background-color: #fff;
    border: 3px solid #47a0ff;
}

.idea:nth-child(6n + 4) {
    background-color: #fff;
    border: 3px solid #52ffd4;
}

.idea:nth-child(6n + 5) {
    background-color: #fff;
    border: 3px solid #8645ff;
}

.idea:nth-child(6n + 6) {
    background-color: #fff;
    border: 3px solid #ff7f15;
}

.idea-delete {
    margin-left: 10px;
    cursor: pointer;
}

/*Idea seleccionada*/
.idea.selected:nth-child(6n + 1) {
    background-color: rgb(255, 249, 129);
}

.idea.selected:nth-child(6n + 2) {
    background-color: #fd6fea;
}

.idea.selected:nth-child(6n + 3) {
    background-color: #47a0ff;
    color: #fff;
}

.idea.selected:nth-child(6n + 4) {
    background-color: #52ffd4;
}

.idea.selected:nth-child(6n + 5) {
    background-color: #8645ff;
    color: #fff;
}

.idea.selected:nth-child(6n + 6) {
    background-color: #ff7f15;
}

/*Botones*/
.botones-contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    padding: 2%;
}

/*Pop up*/
.warning-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcccb;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ff4444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

/*Media querys*/
@media screen and (max-width: 900px) {

    .logo-twister {
        display: block;
        width: 250px;
        height: auto;
        position: absolute;
        top: -20px;
    }

    body {
        overflow-x: hidden;
        background: url('/public/image/fondo2.jpg') no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    .idea-container {
        margin-top: 15%;
    }
}

/*Media querys*/
@media screen and (max-width: 450px) {
    .logo-twister {
        width: 180px;
    }

    .ideas-input {
        display: flex;
        justify-content: center;
    }

    .botones-contenedor {
        display: flex;
        justify-content: center;
    }

}